<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\alerts.db;Version=3" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POC_NEW.Properties.Settings.alertsDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\alertsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>